/* Container */
.container, .table, nav {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header {
    height: 75px;
}

.body {
    height: calc(100% - 75px);
    height: -moz-calc(100% - 75px);
    height: -webkit-calc(100% - 75px);
    width: 60%;
    margin: 0 20% 0 20%;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* other */
body {
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.container-fluid, .navbar-header {
    height: 100%;
}

.line-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .logo {
        font-size: 24px
    }
}

@media (min-width: 992px) {
    .logo {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .logo {
        font-size: 36px;
    }
}

.logo > strong {
    cursor: pointer;
}

.logo-site {
    font-size: 45%;
    padding-left: 5px;
}

.navbar-nav {
    height: 48px;
}

.navbar-item > .btn {
    background-color: transparent;
    border: none;
}

.nav-right-container {
    margin-right: 42px;
}

.navbar-item {
    margin-left: 24px;
    float: left;
}

.navbar-item > a:hover {
    background-color: #cccaca !important;
}

#avatar-container {
    height: 42px;
    width: 42px;
    margin-left: 36px;
    cursor: pointer;
}

#user-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-info {
    margin-top: 75px;
}

.section {
    height: 50px;
    border-top: 1px solid rgba(0,0,0,0.12);
}

.inline-group {
    display: inline-block;
    height: 100%;
}

.label-group {
    width: 35%;
}

.input-group {
    width: 55%;
}

.info-group {
    display: inline-block;
    line-height: 28px;
    padding: 11px 30px 11px 30px;
    width: 100%;
}