<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        
        <!-- 控制台附加器 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n" />
        </Console>

        <!-- Mybatis附加器 -->
        <Console name="PrintSQL" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n" />
        </Console>

        <!-- INFO级别日志输出格式 -->
        <RollingFile name="RollingInfo" fileName="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/info.log" 
                     filePattern="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/info/info-%d{yyyy-MM-dd}.log.gz" >
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n"/>
            <Policies>
                <!-- 按日期分离日志 -->
                <TimeBasedTriggeringPolic interval="1" modulate="false" />
                <!-- 日志文件最大保留数 -->
                <DefaultRolloverStrategy fileIndex="max" max="90"/>
            </Policies>
        </RollingFile>

        <!-- ERROR级别日志输出格式 -->
        <RollingFile name="RollingError" fileName="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/error.log" 
                     filePattern="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/error/error%d{yyyy-MM-dd}.log.gz" >
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n"/>
            <Policies>
                <!-- 按日期分离日志 -->
                <TimeBasedTriggeringPolic interval="1" modulate="false" />
                <!-- 日志文件最大保留数 -->
                <DefaultRolloverStrategy fileIndex="max" max="90"/>
            </Policies>
        </RollingFile>
        
    </Appenders>

    <Loggers>
        <!-- ROOT LOGGER -->
        <Root level="INFO" >
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingInfo"/>
            <AppenderRef ref="RollingError" />
        </Root>

        <!-- Mybatis用子LOGGER -->
        <Logger name="org.tmhi.dao" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="PrintSQL"/>
        </Logger>
    </Loggers>

</configuration>