<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        
        <!-- 控制台附加器 -->
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n" />
        </Console>

        <!-- Mybatis附加器 -->
        <Console name="PrintSQL" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n" />
        </Console>

        <!-- INFO级别日志输出格式 -->
        <RollingFile name="RollingInfo" fileName="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/info.log" 
                     filePattern="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/info/info-%d{yyyy-MM-dd}.log.gz" >
            <Filters>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n"/>
            <Policies>
                <!-- 按日期分离日志 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="false" />
            </Policies>
            <!-- 日志文件最大保留时间 -->
            <DefaultRolloverStrategy>
                <Delete basePath="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/" maxDepth="Integer.MAX_VALUE">
                    <IfFileName glob="*/info-*.log.gz" />
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- WARN及以上级别日志输出格式 -->
        <RollingFile name="RollingError" fileName="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/error.log" 
                     filePattern="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/error/error-%d{yyyy-MM-dd}.log.gz" >
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %m%n"/>
            <Policies>
                <!-- 按日期分离日志 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="false" />
            </Policies>
            <!-- 日志文件最大保留时间 -->
            <DefaultRolloverStrategy>
                <Delete basePath="C:/Users/ruhrg/Documents/My Project/CalendarManagement/logs/" maxDepth="Integer.MAX_VALUE">
                    <IfFileName glob="*/error-*.log.gz" />
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        
    </Appenders>

    <Loggers>
        <!-- ROOT LOGGER -->
        <Root level="ALL" >
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingInfo"/>
            <AppenderRef ref="RollingError" />
        </Root>

        <!-- Mybatis用子LOGGER -->
        <Logger name="org.tmhi.dao" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="PrintSQL"/>
        </Logger>
    </Loggers>

</configuration>