body {
    font-family: 'Microsoft YaHei';
    background: url("../img/background/login.jpg") fixed no-repeat;
    background-size: cover;
}

.login-form {
    margin-top: 30%;
    padding: 12px 48px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
}

.form-title {
    text-align: center;
}

.form-input {
    padding-left: 26px;
}

.user-fa {
    display: inline-block;
    position: relative;
    top: -23px;
    left: 8px;
    color: #ccc;
}

.label-remember {
    font-size: 12px;
}

#rememberCheck {
    margin: 0 4px 0 0;
    vertical-align: middle;
}

.pull-left {
    margin-left: 10%;
}

.pull-right {
    margin-right: 10%;
}