/* modal */
.modal-dialog {
    margin: 10% auto auto auto;
    width: 460px;
}

.modal-header {
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #54c5ff;
}

.modal-body {
    border: none;
    padding: 30px 15px;
}

.modal-footer {
    border: none;
    padding: 0 15px 15px 15px;
}

#modalConfirmBtn {
    margin-left: 8%;
}